:host {
  width: clamp(300px, 90vw, 700px);
}

.close-button {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.grupo-contenedor-opcion {
  display: flex;
  gap: 12px;
  align-items: center;
}

.actions-container {
  display: flex;
  gap: 12px;
}

.contenedor-creacion-pregunta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.opciones-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.contenedor-opcion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block: 12px;
}

.ng-invalid.ng-dirty {
  border-color: #e53935 !important;
}
