<div class="container-msg-spinner" *ngIf="cargando">
  <div class="msg-generando">Generando informe con IA...</div>
  <p-progressSpinner
    class="spinner"
    styleClass="custom-spinner"
  ></p-progressSpinner>
</div>
<div class="informe-container" *ngIf="!cargando">
  <button
    pButton
    type="button"
    label="Descargar PDF"
    icon="pi pi-file-pdf"
    class="p-button-danger p-button-rounded p-button-sm"
    (click)="exportarPDF()"
  ></button>
  <div class="informe html-informe" [innerHTML]="informe" #contenidoPDF></div>
</div>
