body
  > app-root
  > div
  > main
  > app-visualizacion-resultados
  > div
  > div.ng-star-inserted
  > app-informe-encuesta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(220px, 75vw, 600px); /* Ajustado para que no desborde */
  margin: 0 auto;
  gap: 8px;
  color: #333;
  padding: 10px 0;
  box-sizing: border-box;
}

.informe-container {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  margin: 0;
  border: 1px solid #d0d5db;
  box-sizing: border-box;
}

.informe-container h2 {
  color: #1565c0;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.informe {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.85rem;
  line-height: 1.3;
  color: #333;
}

.html-informe p {
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.html-informe ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.3em;
}

.html-informe li {
  margin-bottom: 0.2em;
  background: #f1f5f8;
  border-radius: 3px;
  padding: 5px 8px;
  border: 1px solid #d0d5db;
  font-size: 0.82rem;
  color: #222;
}

div[ng-reflect-ng-if='true'] {
  font-size: 0.9rem;
  color: #777;
  margin-top: 15px;
}

.msg-generando {
  font-size: 0.9rem;
  color: #777;
  margin-top: 15px;
}

.spinner {
}

.container-msg-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
