@import 'primeicons/primeicons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-regular), 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.extended {
  width: 100%;
}

.errores-toast {
  font-size: 5rem;
  color: var(--color-strong);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
}

.p-dialog-mask {
  backdrop-filter: blur(3px) contrast(0.9);
  -webkit-backdrop-filter: blur(3px) contrast(0.9); /* Soporte Safari */
  background: rgba(216 216 216 0.2);
}
