@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root {
  --font-extralight: 'Poppins ExtraLight', sans-serif;
  --font-regular: 'Poppins Regular', sans-serif;
  --font-semibold: 'Poppins SemiBold', sans-serif;
  --font-extrabold: 'Poppins ExtraBold', sans-serif;
  --color-primary: var(--p-indigo-800);
  --color-light: var(--p-indigo-500);
  --color-strong:var(--p-indigo-900);
  --color-background:var(--p-gray-800);
}
