<p-toast></p-toast>

<div class="contenedor-visualizacion">
  <h1 class="encuesta-titulo">Resultados de la Encuesta</h1>

  <div class="botonera">
    <button
      pButton
      label="Ver Respuestas"
      icon="pi pi-list"
      [style]="{ width: '12rem', height: '3rem' }"
      (click)="mostrarRespuestas()"
      [class.p-button-outlined]="mostrarVista !== 'respuestas'"
      [class.p-button-info]="mostrarVista === 'respuestas'"
      title="Ver Respuestas"
    ></button>

    <button
      pButton
      label="Ver Estadísticas"
      icon="pi pi-chart-bar"
      [style]="{ width: '12rem', height: '3rem' }"
      (click)="mostrarEstadisticas()"
      [class.p-button-outlined]="mostrarVista !== 'estadisticas'"
      [class.p-button-success]="mostrarVista === 'estadisticas'"
      title="Ver Estadísticas"
    ></button>
  </div>

  <div *ngIf="mostrarVista === 'respuestas'">
    <app-resultados-encuesta
      [codigo]="codigo"
      [id]="id"
    ></app-resultados-encuesta>
  </div>

  <div *ngIf="mostrarVista === 'estadisticas'">
    <app-resumen-estadistico
      [codigo]="codigo"
      [id]="id"
    ></app-resumen-estadistico>
  </div>
</div>
