
<div class="container">
    <div class="bienvenido">      
      <div class="texto">
        <div> 
          <h1>Opina.Ar</h1>
        </div>
        <p>Cree su encuesta para saber la opinion de la sociedad en estos
          turbulentos tiempos que corren.</p>
        <p>Confia en nosotros.....</p>
        <div>
          <p-button label="Crear" [style]="{backgroundColor: '#4B67EF', width: '10rem', height: '2.4rem'}" routerLink="/crear"></p-button>
        </div>
      </div>
    </div>
    <div class="contenedor-imagen"> 
      <div class="imagen">     
        <img src="/assets/encuestas.png" alt="Imagen de encuestas">      
      </div>     
    </div>
</div>
