.container {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
  min-height: 90vh;  
  color: #000;
  text-align: center;
  padding: 2rem;
  background-color: #B6D2F9;
}
.bienvenido { 
  min-width:50%;
  min-height: 80vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.bienvenido .texto{
 max-width:40%;
 text-align: left;
}
.bienvenido .texto h1{
  font-size:4rem;
}
.bienvenido .texto p{
  font-size:1.6rem;
}
.bienvenido .texto p-button{
  margin-top:4rem;
  font-size:4rem;
}
.contenedor-imagen {   
  min-width: 50%;
  min-height: 80vh;
  display: flex;  
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}
.contenedor-imagen .imagen{
 border-radius: 10px; 
}
.contenedor-imagen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

