<p-toast></p-toast>
<div class="container">
  <div class="bienvenido">
    <div class="texto">
      <div>
        <h1>Opina.Ar</h1>
      </div>
      <p>
        Cree su encuesta para saber la opinion de la sociedad en estos
        turbulentos tiempos que corren.
        <br />
        Confia en nosotros.....
      </p>
      <div class="botones">
        <p-button
          label="Crear"
          class="button"
          [style]="{
            backgroundColor: 'var(--color-background)',
            width: '100%',
          }"
          routerLink="/crear"
        ></p-button>
        <p-button
          label="Dashboard"
          class="button"
          [style]="{
            backgroundColor: 'var(--color-background)',
            width: '100%',
          }"
          routerLink="/dashboard"
        ></p-button>
        <p-button
          label="Resultados"
          class="button"
          [style]="{
            backgroundColor: 'var(--color-background)',
            width: '100%',
          }"
          (onClick)="abrirDialog()"
          aria-label="Abrir diálogo para carrgar enlace de resultados"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="contenedor-imagen">
    <div class="imagen">
      <img src="/assets/encuestas.png" alt="Imagen de encuestas" />
    </div>
  </div>
</div>

<p-dialog
  header="Ir a visualización de resultados"
  [(visible)]="mostrarDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '25rem' }"
>
  <div style="display: flex; flex-direction: column; gap: 1rem">
    <span
      >Ingresá la URL de visualización de resultados de la encuesta a
      consultar:</span
    >
    <input
      pInputText
      [(ngModel)]="urlResultados"
      placeholder="http://localhost/visualizacion-resultados/id?codigo=...&tipo=..."
    />
    <button
      pButton
      label="Ir"
      icon="pi pi-arrow-right"
      (click)="irAResultados()"
      [disabled]="!urlResultados"
      [style]="{
        backgroundColor: '#2e4859',
        color: '#fff',
      }"
      aria-label="Ir a resultados"
    ></button>
  </div>
</p-dialog>
