<p-toast></p-toast>
<div class="contenedor-resultados">
  <p-card>
    <ng-template pTemplate="header">
      <div class="titulo-bar">
        <span class="titulo">
          Respuestas de la encuesta:
          <span *ngIf="nombreEncuesta" class="nombre-encuesta">
            {{ nombreEncuesta }}
          </span>
        </span>
        <span class="botonera-inline">
          <button
            pButton
            icon="pi pi-file-excel"
            class="icono-descarga-rect csv"
            (click)="descargarCSV()"
            title="Descargar CSV"
            type="button"
          >
            <i class="pi pi-download"></i>
          </button>
          <button
            pButton
            icon="pi pi-file-pdf"
            class="icono-descarga-rect pdf"
            (click)="descargarPDF()"
            title="Descargar PDF"
            type="button"
          >
            <i class="pi pi-download"></i>
          </button>
        </span>
      </div>
    </ng-template>

    <p *ngIf="!respuestas.length" class="cargando">Cargando datos...</p>

    <div *ngIf="respuestas.length > 0" class="bloque-estadisticas">
      <div class="botonera">
        <button
          pButton
          icon="pi pi-angle-left"
          label="Anterior"
          title="Anterior"
          (click)="anterior()"
          [disabled]="currentIndex() === 0"
          class="p-button-rounded p-button-secondary"
        ></button>
        <span class="botonera-centrado">
          Encuestado {{ currentIndex() + 1 }} de {{ respuestas.length }}
        </span>
        <button
          pButton
          icon="pi pi-angle-right"
          label="Siguiente"
          title="Siguiente"
          (click)="siguiente()"
          [disabled]="currentIndex() === respuestas.length - 1"
          class="p-button-rounded p-button-secondary"
        ></button>
      </div>
    </div>

    <ng-container
      *ngIf="respuestas.length > 0 && respuestas[currentIndex()] as encuestado"
    >
      <div class="bloque-respuestas compacto">
        <div class="info-encuestado">
          <span class="etiqueta">Encuestado:</span>
          <span class="valor-encuestado" pTag>{{ encuestado.encuestado }}</span>
        </div>

        <div
          *ngIf="encuestado.respuestasOpciones?.length > 0"
          class="grupo-respuesta"
        >
          <div class="subtitulo">Respuestas con opción:</div>
          <ul>
            <li
              *ngFor="
                let pregunta of agruparRespuestasOpciones(
                  encuestado.respuestasOpciones
                )
              "
              class="pregunta-bloque"
            >
              <span class="pregunta-titulo">{{ pregunta.textoPregunta }}</span>
              <ul class="opciones-lista-vertical">
                <li *ngFor="let opcion of pregunta.opcionesSeleccionadas">
                  <span class="opcion-tag" pTag severity="info">{{
                    opcion
                  }}</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div
          *ngIf="encuestado.respuestasAbiertas?.length > 0"
          class="grupo-respuesta"
        >
          <div class="subtitulo">Respuestas abiertas:</div>
          <ul>
            <li
              *ngFor="let abierta of encuestado.respuestasAbiertas"
              class="pregunta-bloque"
            >
              <span class="pregunta-titulo">{{ abierta.textoPregunta }}</span>
              <span class="respuesta-abierta" pTag severity="success">{{
                abierta.textoRespuesta
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </p-card>
</div>
