<p-toast></p-toast>
<div class="contenedor-resultados">
  <h2>Respuestas de la Encuesta</h2>

  <p *ngIf="!respuestas.length">Cargando datos...</p>

  <div *ngIf="respuestas.length > 0">
    <div class="p-d-flex p-ai-center p-jc-center" style="gap: 1rem">
      <button
        pButton
        icon="pi pi-angle-left"
        label="Anterior"
        title="Anterior"
        (click)="anterior()"
        [disabled]="currentIndex() === 0"
        class="p-button-rounded p-button-secondary"
      ></button>
      <span>
        Encuestado {{ currentIndex() + 1 }} de {{ respuestas.length }}
      </span>
      <button
        pButton
        icon="pi pi-angle-right"
        label="Siguiente"
        title="Siguiente"
        (click)="siguiente()"
        [disabled]="currentIndex() === respuestas.length - 1"
        class="p-button-rounded p-button-secondary"
      ></button>
    </div>

    <p-card styleClass="p-mt-3">
      <ng-container *ngIf="respuestas[currentIndex()] as encuestado">
        <div>
          <strong>Encuestado:</strong>
          <span pTag>{{ encuestado.encuestado }}</span>
        </div>

        <div *ngIf="encuestado.respuestasOpciones?.length > 0" class="p-mt-3">
          <h4>Respuestas con opción:</h4>
          <ul>
            <li
              *ngFor="
                let pregunta of agruparRespuestasOpciones(
                  encuestado.respuestasOpciones
                )
              "
            >
              <strong>Pregunta:</strong> {{ pregunta.textoPregunta }}
              <ul>
                <li *ngFor="let opcion of pregunta.opcionesSeleccionadas">
                  <span pTag severity="info">{{ opcion }}</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div *ngIf="encuestado.respuestasAbiertas?.length > 0" class="p-mt-3">
          <h4>Respuestas abiertas:</h4>
          <ul>
            <li *ngFor="let abierta of encuestado.respuestasAbiertas">
              <strong>Pregunta:</strong> {{ abierta.textoPregunta }}<br />
              <strong>Respuesta:</strong>
              <span pTag severity="success">{{ abierta.textoRespuesta }}</span>
            </li>
          </ul>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>
