:host {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 75vh;
  width: 100%;
  margin-bottom: 2rem;
}

.dashboard-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 70vh;
}
.content {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .dashboard-container {
    flex-direction: column;
    margin: 1rem;
  }
}

@media (max-width: 576px) {
  .dashboard-container {
    margin: 0.5rem;
    border-radius: 0;
    width: 100%;
    margin: 0;
  }

  :host {
    min-height: 100vh;
  }
}
