<div class="cards-container">

    <h2>Lista de encuestas
        <span style="float:right;">
            <p-chip label="Activas" [style]="{'background-color': 'var(--color-light)', 'color': 'white', 'font-size':'1rem'}"/>
            <p-chip label="Enviadas" [style]="{'background-color': 'var(--p-gray-200)', 'color': 'var(--color-light)', 'font-size':'1rem'}"/>
        </span>
    </h2>
    <div class="dashboard-list">
<ng-container *ngIf="encuestas.length > 0; else noEncuestas">
  <p-card *ngFor="let encuesta of encuestas" class="dashboard-card" [ngStyle]="{'background-color': encuesta.esActivo ? 'var(--color-light)' : 'var(--p-gray-200)'}">
    <ng-template #title>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="display: flex; align-items: center; gap: 1rem;">
                <i class="pi pi-receipt" style="font-size: 2.5rem;color: var(--color-primary)"></i>
                <h4>{{ encuesta.nombre }}</h4>                
            </span>
            <span style="font-size: 12px; color: var(--color-primary);"> 
                <i class="pi pi-pencil" 
                    style="font-size: 1.4rem; margin-right: 1rem;"
                    pTooltip="Editar encuesta" 
                    tooltipPosition="top" 
                    (click)="editarEncuesta(encuesta)"
                    placeholder="Right">
                    </i>
                <i class="pi pi-trash" 
                    style="font-size: 1.4rem;
                     margin-right: 1rem;"
                     pTooltip="Eliminar encuesta" 
                     (click)="eliminarEncuesta(encuesta)"
                     tooltipPosition="top" 
                     placeholder="Right">
                </i>
            </span>
        </div>
    </ng-template>    
  </p-card>
</ng-container>

<ng-template #noEncuestas>
  <div class="p-message p-message-info" style="display: flex; justify-content: center; align-items: center; margin: 2rem;">
    <i class="pi pi-info-circle"></i>
    <span class="p-message-text">{{ error }}</span>
  </div>
</ng-template>
</div>

