:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(250px, 90vw, 800px);
  overflow: auto;
  margin: 0 auto;
  gap: 24px;
}

.contenedor-encuesta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-preguntas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
